body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    padding-top: 62px;
}

/* Header */

.header {
    display: flex;
    max-height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

.header img{
    max-height: 50px;
    margin-left: 10px;
}

.nav li {
    text-decoration: underline;
    list-style: none;
    display: inline;
    margin-right: 20px;
}

a {
    color: seashell;
}

/* Banner */

.banner {
    width: 1200px;
    height: 700px;
    background-image: url("../img/img-mission-background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.mission {
    background-color: black;
    width: 100%;
}

/* Tea */

.tea {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#tea-title {
    width: 100%;
}

.tea img {
    width: 300px;
    height: 200px;
}

.tea p {
    margin-top: 10px;
}

/* Locations */

.location {
    display: flex;
    width: 1200px;
    height: 500px;
    background-image: url("../img/img-locations-background.jpg");
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.location-card {
    background-color: black;
    width: 300px;
    margin: auto 20px;
}

#location-title {
    width: 100%;
}

/* Contact */

#contact {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}